{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Add a Book Here</h1>
    <p>Enter the details of a book you wish to add to the collection</p>
</div>

            

            <div class="error">
                {{error_text | safe}}
            </div>
            <form action="{{url_for('success')}}" method="POST">
                <input title="Title" placeholder="Enter the book Title" type="text" name="title" required> <br>
                <input title="Author" placeholder="Enter the Author" type="text" name="author" required> <br>
                <input title="Year" placeholder="Enter the year published" type="number" name="year" min="1000" max="2060"> <br>
                <input title="Dewey Decimal" placeholder="Enter the Dewey Decimal" type="text" name="dewey"> <br>
                <input title="Goodreads URL" placeholder="Enter the URL from Goodreads" type="text" name="goodreads_url"> <br>
                <input title="Series" placeholder="Enter the Series" type="text" name="series"> <br>
                <input title="Status" placeholder="Enter the Status" type="text" name="status"> <br>
                <fieldset>
                    <legend>Select 1 or more Categories</legend>
                    {%for i in range(0, len)%} 
                        <input type="checkbox" name="categories" value="{{categories[i].id}}" id="{{categories[i].name}}"><label for="{{categories[i].name}}">{{categories[i].name}}</label> <br> 
                    {%endfor%}
                </fieldset>
                <button type="submit"> Submit </button>
            </form>

{% endblock %}