{% extends "layout.html" %}
{% block content %}

  <h1>{{music.title}}</h1>
  <h3>{{music.artist}}</h3>

<container>
  <div class="error">
    {{error_text | safe}}
  </div>
  <div class="row mb-3">
    <div class="col-md-6 themed-grid-col">
      <p style="text-align: left;">
        {% if music.year %}
          <strong>Released:</strong> {{music.year}}<br>
        {%endif%}
        {% if music.genres %}
          <strong>Genres:</strong> {%for genre in music.genres%} {{genre.name}},{%endfor%}<br>
        {%endif%}
        {% if music.format %}
          <strong>Format:</strong> {{music.format}}<br>
        {%endif%}
        {% if album_info.label %}
          <strong>Label:</strong> {{album_info.label}}<br>
        {%endif%}
        {% if album_info.popularity %}
          <strong>Spotify Popularity:</strong> {{album_info.popularity}}%<br>
        {%endif%}
        {% if music.status %}
          <strong>Album Location:</strong> {{music.status}}<br>
        {%endif%}
      </p>
    </div>
    <div class="col-md-6 themed-grid-col">
      {% if album_info %}
        <img src="{{album_info.images[0].url}}" height="200">
      {%endif%}
    </div>
  </div>
  <div class="row mb-3">
    <div class="themed-grid-col">
      {% if album_info %}
        <p><strong>{{ music.title }}</strong> - Track List</p>
        <ul style="text-align: left;">

        {% for track in album_info["tracks"]["items"] %}
          {{track['track_number']}} - {{track['name']}}<br>
        {%endfor%}
        </ul>
      {%endif%}
    </div>
  </div>
  <div class="footer">
    

    
  </div>
</container>
{% endblock %}