{% extends "layout.html" %}
{% block content %}

            <h1>Books</h1>
            <h3>Our list of books are here</h3>

            <div class="error">
                {{error_text | safe}}
            </div>
            {%for i in range(0, len)%} 
  
              <li>{{books[i].title}} by {{books[i].author}}
                  (
                  {%for cat in books[i].categories%}
                    {{cat.name}}
                  {%endfor%}
                  )
              </li> 
            {%endfor%}
{% endblock %}